 body {
      font-family: 'Nunito Sans', sans-serif;
    }

    
    .navbar {
      background-color: rgba(0, 0, 0, 0.3); 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
    .navbar a {
      color: white;
    }
    .navbar a:hover,
    .navbar .dropdown-menu a:hover {
      color: #ffd700;
    }
    .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.7);
    }

    /* Hero Section */
    .hero-section {
      position: relative;
      background-image: url('./images/bondi-beach.jpg');
      height: 90vh;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
    }
   
    .hero-section::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
      z-index: 1;
    }
    .hero-section .container {
      position: relative;
      z-index: 2;
    }

    .hero-section h1 {
      text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }
    .hero-section p {
      text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    }
    .elementor-shape-fill {
  fill: #ffffff;
}
.parallax-section {
  height: 90vh;
  position: relative;
}

.parallax-wrap {
  position: absolute;
  inset: -20%; 
  overflow: hidden;
}

.parallax-img {
  width: 100%;
  height: 120%; 
  object-fit: cover;
  transform: translateY(0);
  will-change: transform;
}
.background-image {
  background-attachment: fixed;
    background-image: url(https://hellobondi.com.au/wp-content/uploads/2024/11/pexels-matthardy-11882973.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blue {
  color: #0b4d8c; 
}
.hov-card {
  position: relative;
  overflow: hidden;
}

.hov-card::after {
  content: "";
  position: absolute;
  inset: 0; 
  background-color: rgba(10, 125, 213, 0); 
  transition: background-color 0.3s ease;
}

.hov-card:hover::after {
  background-color: rgba(6, 114, 246, 0.3); 
}
          

   